              <!-- signature -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; ">
                    The DigiFi Team
                  </td>
                </tr>
              </table>
              <!-- spacer -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                </tr>
              </table>
            </td>
            <td width="20">&nbsp;</td>
          </tr>

          <!-- Border gray -->
          <tr>
            <td height="2" bgcolor="#ccc" style="background: #ccc"></td>
            <td height="2" bgcolor="#ccc" style="background: #ccc"></td>
            <td height="2" bgcolor="#ccc" style="background: #ccc"></td>
          </tr>
          <!-- End border gray -->  
          <tr>
            <td></td>
            <td>
              <!-- spacer -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                </tr>
              </table>
              <!-- footer body content -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 125%;">
                    Please do not reply to this email. This mailbox is not monitored for responses. If you have any questions, you can get in touch by contacting us at <a href="mailto:support@digifi.io" style="text-decoration: underline;color: #000000;">support@digifi.io</a> or (646) 663-3392. <br/><br/>
                    DigiFi, Inc. 25 Broadway, New York, NY 10004
                  </td>
                </tr>
              </table>
              <!-- spacer -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                </tr>
              </table>
            </td>
            <td></td>
          </tr>
        </table>
        <!-- bottom spacer -->
        <table class="container" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
          <tr>
            <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
          </tr>
        </table>
      </td>
      <td width="15">&nbsp;</td>
    </tr>
  </table>
</body>

</html>
