              <!-- spacer -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                </tr>
              </table>
            </td>
            <td width="20">&nbsp;</td>
          </tr>

          <!-- Border gray -->
          <tr>
            <td height="2" bgcolor="#ccc" style="background: #ccc"></td>
            <td height="2" bgcolor="#ccc" style="background: #ccc"></td>
            <td height="2" bgcolor="#ccc" style="background: #ccc"></td>
          </tr>
          <!-- End border gray -->  
          <tr>
            <td></td>
            <td>
              <!-- spacer -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                </tr>
              </table>
              <!-- footer body content -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 125%;">
                    To unsubscribe from future mailings, <a href="<%- user.unsubscribe_link %>">click here</a>.
                    <br/><br/>
                    DigiFi, Inc. 25 Broadway, New York, NY 10004
                  </td>
                </tr>
              </table>
              <!-- spacer -->
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                </tr>
              </table>
            </td>
            <td></td>
          </tr>
        </table>
        <!-- bottom spacer -->
        <table class="container" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
          <tr>
            <td height="20" style="font-size: 1px; line-height: 1px">&nbsp;</td>
          </tr>
        </table>
      </td>
      <td width="15">&nbsp;</td>
    </tr>
  </table>
</body>

</html>
