<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 150%;">
      Thank You,
    </td>
  </tr>
</table>