@import './variables';
// Tabs Styling
.__re-bulma_tabs ul.subBreadcrumbGroup .subBreadcrumbTab select {
  font-size: 16px;
  border: none;
  background: none;
}

.__re-bulma_tabs li.subBreadcrumbTab span span.__re-bulma_select {
  position: relative;
}

.__re-bulma_tabs li.__re-bulma_is-active span span {
  position: relative;
}

.__re-bulma_tabs {
  font-size: 14px;
}

.__cis_global_breadcrumb .__re-bulma_tabs li {
  min-width: 12%;
}

.__re-bulma_tabs li {
  min-width: 11%;
}

.__re-bulma_tabs a,
.__re-bulma_tabs span {
  padding: 4px 14px;
}

.__cis_global_breadcrumb {
  background-color: #676767;
}

.__cis_global_breadcrumb ul.breadcrumb {
  border-bottom-width: 0px;
}

.__re-bulma_tabs.__re-bulma_is-boxed li.__re-bulma_is-active a,
.__re-bulma_tabs.__re-bulma_is-boxed li.__re-bulma_is-active span {
  background-color: $color-global-bg;
  border-radius: 0;
  color: $color-default-text;
  font-weight: 600;
}

.__re-bulma_tabs.__re-bulma_is-boxed a,
.__re-bulma_tabs.__re-bulma_is-boxed span {
  padding-bottom: 4px;
  padding-top: 4px;
  cursor: pointer;
}

.ui.dropdown .menu>.item>a {
  color: inherit;
  border: none;
  background-color: transparent !important;
}

// Header Dropdowns

.ui.dropdown .menu>.item {
  padding: 0 !important;
}

.Header-Speed .ui.dropdown .menu>.item>div,
.Header-Speed .ui.dropdown .menu>.item>span,
.Header-Speed .ui.dropdown .menu>.item>a,
.__cis_global_breadcrumb .ui.dropdown .menu>.item>div,
.__cis_global_breadcrumb .ui.dropdown .menu>.item>span,
.__cis_global_breadcrumb .ui.dropdown .menu>.item>a {
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  text-align: left;
  display: block;
  color: white;
  min-width: 130px;
}

.__cis_global_breadcrumb .__re-bulma_tabs {
  overflow: visible;
  & a, span {
    margin: 0;
    border-radius: 0;
  }
  & i.icon {
    font-size: 18px;
    line-height: 18px;
  }
}

.__cis_global_breadcrumb .__des_dropdown {
  text-align: center;
  padding: 0 15px;
  flex-direction: row-reverse;
  &[aria-expanded=true] {
    background-color: #a9abad;
  }
  &>.text {
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding-right: 8px;
  }
  & .menu {
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, .2);
    min-width: 100%;
  }
  &.ui.dropdown .menu>.item {
    background-color: white;
    font-weight: 600;
    &>a {
      color: inherit;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #dedede;
    }
  }
}

// Dropdown Tabs

.Header-Speed .ui.dropdown,
.__cis_global_breadcrumb .__re-bulma_tabs .ui.dropdown,
.ui.dropdown.__re-bulma_button {
  &>.dropdown.icon {
     display: none;
  }
  &>.text:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    content: "\F0D7";
    -webkit-font-smoothing: antialiased;
    position: relative;
    left: 6px;
    transition: transform 0.3s ease-in-out;
  }
  &.active {
    &>.text:after {
      transform: rotateX(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.__cis_global_breadcrumb .__re-bulma_tabs .ui.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .global-sub-tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid $color-border;
    & .__re-bulma_tabs.__re-bulma_is-boxed li > span {
      padding: 0;
      & .__ra_rb {
        cursor: pointer;
        display: inline-flex !important;
        border: none;
        height: 40px;
        margin-bottom: -1px;
        width: 100%;
        background-color: transparent;
      }
    }
  }

.Header-Speed .ui.dropdown .menu>.item:not(:last-child),
.__cis_global_breadcrumb .ui.dropdown .menu>.item:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.Header-Speed .ui.dropdown .menu>.item {
  background-color: $color-bg-header;
}

.__cis_global_breadcrumb .ui.dropdown .menu>.item {
  background-color: #676767;
}

.__cis_global_breadcrumb .ui.dropdown .menu>.item:hover {
  color: inherit;
  background-color: #a9abad;
}

.Header-Speed .ui.dropdown .menu>.item {
  &:hover {
    background-color: #676767;
  }
  &.strategy:hover {
    background-color: $color-indigo;
  }
  &.optimization:hover {
    background-color: $color-green;
  }
  &.simulation:hover {
    background-color: $color-primary;
  }
  &.los:hover {
    background-color: $color-indigo;
  }
  &.ocr:hover {
    background-color: $color-orange;
  }
  &.implementation:hover {
    background-color: $color-orange;
  }
  &.settings:hover {
    background-color: $color-pink;
  }
  &.user-guide {
    & a {
      display: flex;
      & .__re-bulma_icon {
        margin: auto;
        top: 0;
        bottom: 0;
        position: relative;
        margin-left: 8px;
      }
    }
    &:hover {
      // background-color: $color-orange;
    }
  }
  &.account:hover {
    background-color: $color-light-blue;
  }
}

.__cis_global_breadcrumb .__re-bulma_tabs.__re-bulma_is-boxed a:hover,
.__cis_global_breadcrumb .__re-bulma_tabs.__re-bulma_is-boxed span:hover {
  background-color: #a9abad;
}

.__cis_global_breadcrumb .__re-bulma_tabs .ui.dropdown .menu .menu {
  border-radius: 0 !important;
  margin: 0px !important;
}

.__cis_global_breadcrumb .menu .ui.simple.active.dropdown>.menu,
.__cis_global_breadcrumb .menu .ui.simple.dropdown:hover>.menu {
  top: 0px !important;
}

.Header-Speed .ui.dropdown .menu {
  border-radius: 0px;
}

.__cis_global_breadcrumb .__re-bulma_tabs li>span {
  padding: 0px;
  border: none;
  display: block;
}

.__cis_global_breadcrumb .__re-bulma_tabs ul.breadcrumb li>span:hover {
  border-bottom-color: transparent;
  color: white;
}

.__cis_global_breadcrumb .__re-bulma_tabs ul.breadcrumb li.__re-bulma_is-active>span:hover {
  color: initial;
}

.__cis_global_breadcrumb .__re-bulma_tabs a,
.__cis_global_breadcrumb .__re-bulma_tabs span {
  color: white;
}

.__cis_global_breadcrumb,
.__cis_global_breadcrumb .__re-bulma_button.__re-bulma_is-link {
  color: white;
  border-radius: 0;
}

.__cis_global_breadcrumb .__quickadd_dropdown:focus,
.__cis_global_breadcrumb .__quickadd_dropdown:hover,
.__cis_global_breadcrumb .__re-bulma_button.__re-bulma_is-link:focus,
.__cis_global_breadcrumb .__re-bulma_button.__re-bulma_is-link:hover {
  color: white;
  background-color: #a9abad;
}

.__cis_global_breadcrumb .__quickadd_dropdown .text {
  display: none;
}

.__cis_global_breadcrumb .__quickadd_dropdown i.icon {
  margin: 0;
  font-size: 18px;
}

.__cis_global_breadcrumb .__quickadd_dropdown {
  width: 40px;
}

.__re-bulma_tabs ul.breadcrumb li>span:hover {
  border-bottom-color: #222324;
  color: #222324;
}


.strategy-sidebar,
.simulation-sidebar {
  & .content {
    & .nav-link:first-child {
      & .__re-bulma_button.__re-bulma_is-link.segment-up-btn {
        display: none;
      }
    }
    & .nav-link:last-child {
      & .__re-bulma_button.__re-bulma_is-link.segment-down-btn {
        display: none;
      }
    }
  }
  &.ui.vertical.menu {
    background-color: #eee;
    width: 19rem;
    margin-right: 20px;
  }
  &.ui.accordion.menu .item .title {
    &>.dropdown.icon {
      margin:0;
      transform: rotate(90deg);
    }
    &.active>.dropdown.icon {
      transform: rotate(270deg);
    }
  }
  &.ui.accordion.menu .item .title {
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 20px 12px 12px;
    font-size: 12px;
  }
  &.ui.accordion.menu .item .content {
    padding: 0;
    margin-top: -5px;
  }
  & .ui.menu {
    font-size: 12.5px;
  }
  & a {
    color: inherit;
    padding: 10px 10px 10px 25px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    & a {
      flex: 1 1 auto;
      padding: 10px 10px 10px 25px;
    }
    & .__re-bulma_button.__re-bulma_is-link {
      position: relative;
      display: none;
      border: none !important;
      padding: 0;
      &:last-child {
        margin-right: 3px;
      }
      &:only-of-type {
        padding: 0 5px;
      }
      &:hover {
        color: $color-pink;
      }
    }
    &.active-nav-link {
      background-color: white;
      color: $color-primary;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    }
    &:hover{
      & .__re-bulma_button.__re-bulma_is-link {
        display: block;
      }
      & a {
        color: $color-primary;
        white-space: normal;
        word-wrap:  break-word;
        word-break: break-word;
      }
    }
  }
  &.no-categories {
    overflow: hidden;
      &.ui.accordion.menu .item .content {
        margin-top: 0;
      }
      & a {
        padding: 10px 15px;
      }
      & .nav-link {
        &:hover {
          & a {
            padding: 10px 15px;
          }
        }
        &.active-nav-link {
          box-shadow: none;
        }
      }
    }
}

.simulation-sidebar {
  & .nav-link {
    & .__ra_rb {
        display: block !important;
        padding: 10px 10px 10px 20px;
        word-wrap: break-word;
    }
  }
}

.ui.vertical.menu .item:before {
  z-index: 1;
}