$color-primary:#007aff;
$color-bg-footer:#333333;
$color-bg-header:#1f1f1f;
$color-default-text: rgb(64, 64, 64);
$color-gray: #969696;
$color-light-blue: #68d7e3; //settings
$color-orange: #ffa13b; //user-guide
$color-indigo: rgb(92, 25, 142); //simulation
$color-pink: #ff6f72; //account
$color-green: #00b050; //api
$color-success: #65ca60;
$color-red: #d9534f;
$color-global-bg: #f5f7fb;
$color-border: #d3d6db;
$color-white: #efefef;
$color-amazon-orange: rgb(255,153,0);
$color-sagemaker-ll: rgb(214,77,94);
$color-sagemaker-xgb: rgb(24,159,221);
$color-decision-tree: rgb(47,85,151);
$color-random-forest: rgb(112,173,71);
$color-neural-network: rgb(161,102,255);
$color-docusign: #005eb8;
$font-global: "Lato",
"Helvetica Neue",
Arial,
Helvetica,
sans-serif;

$font-size-small: 12.5px;
$font-size-default: 13px;
$font-size-medium: 14px;